$background_color_1: #f8f8f8;
$background_color_2: #f2f2f2;

/* Hide table headers (but not display: none;, for accessibility) */
/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	caption {
		font-size: 1.5em;
		margin: .5em 0 .75em;
	}
	tr {
		background-color: $background_color_1;
		border: 1px solid #ddd;
		padding: .35em;
	}
	th {
		padding: .625em;
		text-align: left;
		font-size: .85em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	td {
		padding: .625em;
		text-align: left;
	}
}
tr {
	&:nth-child(even) {
		background-color: $background_color_2;
	}
}
@media screen and (max-width: 600px) {
	.right-text {
		margin-left: 1%;
		font-style: normal;
	}
	table {
		display: block;
	}
	thead {
		display: block;
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	tbody {
		display: block;
	}
	th {
		display: block;
	}
	td {
		display: block;
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		&:after {
			position: absolute;
			top: 0;
			left: 6px;
			width: 100%;
			padding-right: 10%;
			margin-block-start: 10px;
			white-space: nowrap;
		}
		&:nth-of-type(1) {
			&:before {
				content: "S/N:";
				font-weight: bold;
			}
		}
		&:nth-of-type(2) {
			&:before {
				content: "Username:";
				font-weight: bold;
			}
		}
		&:nth-of-type(3) {
			&:before {
				content: "Email:";
				font-weight: bold;
			}
		}
		&:nth-of-type(4) {
			&:before {
				content: "Role:";
				font-weight: bold;
			}
		}
		&:nth-of-type(5) {
			&:before {
				content: "Details:";
				font-weight: bold;
			}
		}
		&:nth-of-type(6) {
			&:before {
				content: "Action:";
				font-weight: bold;
			}
		}
	}
	tr {
		display: block;
		margin: 0 0 1rem 0;
		&:nth-child(odd) {
			background: ghostwhite;
		}
	}
}
